.container {
  padding: 0;
}

.desktop_img {
  height: 100vh;
  width: 100%;
  background-image: url("/images/desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  .desktop_img {
    background-image: url("/images/mobile.png");
    /* background-size: contain; */
    background-position: center;
    max-width: 100%;
    max-height: 100%;
  }
}
